@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import'./reset.css';
@import'./common.css';

.wrapper{
    min-width: 1152px;
}


header{
    width: 1152px;
    margin: 0 auto;
}
header .group-top{
    display: flex;
}
    
header .group-top .logo{
    
}
header .group-top .logo::after{
    margin-top: 8px;
    content: '';
    display: block;
    width: 105px;
    height: 27px;
}
    


header .gnb{}
header .gnb .nav-list{
    display: flex;
    gap: 20px;
    padding-left: 70px;
}
header .gnb .nav-item{
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    font-weight: 700;
}
header .gnb .nav-item:hover{
    color: #2292e9;
}
header .service-area{
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    font-weight: 700;
    margin-left: auto;
}

header .service-area a{
    padding: 0 10px;
}
header .service-area a:hover{
    color: #2292e9;
}

/* 1. form을 감싸줄 search-area생성함 */
header .group-bottom{}
header .group-bottom .inner{
    display: flex;
    justify-content: space-between;
    position: relative;
}
header .group-bottom .slogan{
    margin: 38px 0 30px;
    width: 133px;
    height: 51px;
}   
header .group-bottom .slogan::after{
    display: block;
    width: 133px;
    height: 51px;
    content: '';
}
header .group-bottom .blue-bd{
    display: flex;
    width: 520px;
    height: 42px;
    border: 3px solid #2292e9;
    position: absolute;
    left: 50%;
    top: 40px;
    margin-left: -326px;
    margin-top: 0;
    box-sizing: border-box;
}

header .search-area .input-text{
    /* width: calc(100% - 42px); */
    flex: 1;
    border: 0;
    padding: 0;
    height: 35px;
    line-height: 37px;
    padding: 0 10px;
    color: #2292e9;
    /* padding-bottom: 10px; */
}
header fieldset ::placeholder{color: #2292e9}
header .btn-keyboard{
    position: absolute;
    top: 11px;
    right: 42px;
    width: 29px;height: 16px;
    background-image: url(	https://www.seoul.go.kr/ksearch/res_newseoul/images/search/keyboard.png);
    background-size: 29px 16px;
    background-repeat: no-repeat;
}
header .btn-submit{
    display: inline-block;
    width: 36px;
    height: 36px;
    padding: 0;
    background: url(https://www.seoul.go.kr/res_newseoul/images/icon_set_common.png) no-repeat -32px -97px;
}
/* header .btn-submit::before{
    content: '';
    width: 36px;height: 36px;
    background-position: -5px -165px;
} */

/* .blue-bd .keyboard{
    
    margin-left: 3px;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 42px;

    키보드에 blind처리하여 백그라운드로 넣어줄것 
} */

header .group-bottom .lang-area{
    display: flex;
}
header .group-bottom .select-list{
    width: 80px;
    height: 21px;
    border-color: #afcfea;
    color: #1E6CB3;
    font-size: 12px;
    padding: 0 0 0 2px;
    box-sizing: border-box;
    line-height: 21px;
}
header .group-bottom .btn-go{
    width: 30px;
    font-size: 11px;
    color: #fff;
    background-color: #1E6CB3;
    border: 0;
    height: 21px;
    padding: 0;
}

/* 언어 */

.header .lang-area{}
.blue-bd .btn-text::after{
    content: '';
    display: inline-block;
    width: 36px;
    height: 36px;
    background-position: -38px -97px;
}
.header .group-bottom .weather-area{
    position: absolute;
    top: 0;right: 0px;
    display: flex;
    margin-top: 34px;
    width: 270px;
    height: 85px;

    
}
.header .group-bottom .weather-area .text-box{
    margin-top: 5px;
    margin-left: 5px;
}
.header .group-bottom .weather-area .dust{
    margin-top: 7px;
    font-size: 13px;
    letter-spacing: -1px;
}
.header .group-bottom .weather-area .good{
    color: #0068b7;
    font-size: 13px;
}
.header .group-bottom .search-wrap .weather-area .text-box .text-col{
    margin-top: 7px;
    font-size: 13px;
}
.header .group-bottom .weather-area .text-cel{
    display: block;
    font-size: 16px;
    letter-spacing: -0.1em;
   
}
.header .group-bottom .weather-area .cel{
    font-size: 25px;
    margin-right: 5px;
    font-weight: bold;
}

.header .group-bottom .weather-area .col{
    color: #009944;
}





/* footer */

.footer{}
.footer .nuri-area{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.footer .nuri-area .nuri-list{
    display: flex;
    gap: 20px;
    font-size: 12px;
}   
.footer .nuri-area .nuri-list li{
    position: relative;
}
.footer .nuri-area .nuri-list li + li::before{
    content: '';
    position: absolute;
    top: 22%;
    left: -10px;
    display: block;
    width: 1px;
    height: 14px;
    margin-top: -6px;
    background: #dcdcdc;
}
.footer .nuri-area .nuri-list .nuri-item1{
    color: #000;
    font-weight: 700;
}



.footer .nuri-area .sns-list{
    display: flex;
    width: 204px; height: 24px;
    
}
.footer .nuri-area .sns-item{
    display: flex;
    gap: 12px;
}
.footer .nuri-area .sns-item a{
   
    width: 24px;height: 24px;
}
.footer .nuri-area .sns-item .face{}
.footer .nuri-area .sns-item .face::after{
    display: inline-block;
    background-position: -25px 0;
    width: 24px;
    height: 24px;
    content: '';
}
.footer .nuri-area .sns-item .face:hover::after{
    background-position: -25px -25px;
    content: '';
}
.footer .nuri-area .sns-item .twitt{}
.footer .nuri-area .sns-item .twitt::after{
    display: inline-block;
    background-position: -50px 0;
    width: 24px;
    height: 24px;
    content: '';
}
.footer .nuri-area .sns-item .twitt:hover::after{
    background-position: -50px -25px;
    content: '';
}
.footer .nuri-area .sns-item .insta{}
.footer .nuri-area .sns-item .insta::after{
    display: inline-block;
    background-position: -75px 0px;
    width: 24px;
    height: 24px;
    content: '';
}
.footer .nuri-area .sns-item .insta:hover::after{
    background-position: -75px -25px;
    content: '';
}
.footer .nuri-area .sns-item .kakao{}
.footer .nuri-area .sns-item .kakao::after{
    display: inline-block;
    background-position: -100px 0px;
    width: 24px;
    height: 24px;
    content: '';
}
.footer .nuri-area .sns-item .kakao:hover::after{
    background-position: -100px -25px;
    content: '';
}
.footer .nuri-area .sns-item .youtube{}
.footer .nuri-area .sns-item .youtube::after{
    display: inline-block;
    background-position: -125px 0px;
    width: 24px;
    height: 24px;
    content: '';
}
.footer .nuri-area .sns-item .youtube:hover::after{
    background-position: -125px -25px;
    content: '';
}
.footer .nuri-area .sns-item .nblog{}
.footer .nuri-area .sns-item .nblog::after{
    display: inline-block;
    background-position: -150px 0px;
    width: 24px;
    height: 24px;
    content: '';
}
.footer .nuri-area .sns-item .nblog:hover::after{
    background-position: -150px -25px;
    content: '';
}

.footer .nuri-area .sns-item img{
 
    
}
.footer .nuri-area .sns-item .face{}
.footer .nuri-area .sns-item .face::before{
    content: '';
    background-position: -25px 0;
}

.footer .info-area{
    display: flex;
    
    font-size: 12px;
    padding: 22px 0;
    border-top: 1px solid #ccc;
}
.footer .info-area .ask{}
.footer .info-area .ask::before{
    margin-right: 40px;
    float: left;
    width: 108px;
    height: 45px;
    content: '';
}
.footer .info-area .info-wrap{}
.footer .info-area .info-wrap p{
    padding-bottom: 2px;
    line-height: 16px;
    font-size: 11px;
}


.footer .info-area .service-wrap{
    display: flex;
    gap: 10px;
    margin-left: auto;
}
.footer .info-area .service-wrap .service-box{}

.fixed-top{
    width: 34px; height: 34px;
    background-image: url(https://www.seoul.go.kr/res_newseoul/images/btn_top.png);
    background-repeat: no-repeat;
    /* bottom: 100px; */
    bottom: -100px;
    left: 50%;
    position: fixed;
    margin-left: 600px;
    transition: 1s;
    opacity: 0;
}
.fixed-top.show{
    bottom: 100px;
    opacity: 1;
    transition: 0.3s;
}